
<%= image_tag('casa1.png', :class => 'banner2') %>
<%= image_tag('camina4.png', :class => 'animated slideInRight  caminante2') %>
<%= image_tag('camina1.png', :class => 'animated slideInRight  caminante') %>
<%= image_tag('camina2.png', :class => 'animated slideInLeft  caminante1') %>
<%= image_tag('botella.png', :class => 'animated wobble botella') %>
<%= image_tag('burbuja.png', :class => 'animated zoomInUp dialogo') %>
<%= image_tag('burbuja2.png', :class => 'animated zoomInUp dialogo2') %>
<%= image_tag('caneca.png', :class => 'animated zoomInUp caneca') %>
<%= image_tag('camion3.png', :class => 'animated slideInRight camion1') %>
<!-- Menu de modulos princiaples-->
<div class="container-fluid" style="background-color: #befd7f;">
    <div class="">
       <%= link_to image_tag('culturaf.png', :class => 'cultural'), cultura_index_path %>
       <%= link_to 'Cultura', cultura_index_path, :class => 'cultura' %>
    </div>
    <div class="">
         <%= link_to image_tag('rutaf.png', :class => 'rutal'), ruta_index_path %>
         <%= link_to 'Rutas', ruta_index_path, :class => 'ruta' %>
    </div>
    <div class="">
         <%= link_to image_tag('reportarf.png', :class => 'reportal'), reportar_index_path %>
         <%= link_to 'Reportar', reportar_index_path, :class => 'reporta' %>
    </div>
    <div class="">
         <%= link_to image_tag('beneficiof.png', :class => 'beneficiol'), beneficios_index_path %>
         <%= link_to 'Beneficios', beneficios_index_path, :class => 'beneficio' %>
    </div>
    <div class="">
         <%= link_to image_tag('aliadosf.png', :class => 'aliadosl'), aliados_index_path %>
         <%= link_to 'Aliados', aliados_index_path, :class => 'aliados' %>
    </div>
</div>
<div class="autor">
<h1>www.ambientelimpio.com</h1>
</div>
